<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="title">
        <h1>Hello guys, how are you?</h1>
    </div>
    
    <form action="/PhotoFetchD" method="post" enctype="multipart/form-data">
        <label for="avatar">Выберите фото дедушки</label>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
            <button type="submit">Загрузить</button>
    </form>

    
</body>
</html>